body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  line-height: 1.5;
}

/* Accounts Section Cards*/

#accounts {
padding: 100px;
}

.accounts-text {
  line-height: 1.5;
}

.accounts-column {
  padding: 3% 2%;
}

/* .colored-section {
  background-color: green;
  color: #fff;
}

.white-section {
  background-color: #fff;
} */

/* #card {
  background-color: green;
  color: #fff
  padding: 7% 15%;
  text-align: center;
} */

.container-fluid {
  padding: 3% 5%;
}
